.about
	.about__me
		.free__content__about__me
			h1 ОБО МНЕ
		.full__content__about__me
			.about__me-foto
				img(src='assets/img/foto.jpg', alt='')
			h2 Кто я
			.about__me-text
				p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
