.skills
  h2 Чем я могу быть вам полезен
    .text
      p Больше всего меня привлекает Frontend разработка
  .frontend
    h3 Frontend
    ul.frontend__items
      li.frontend_item
        svg.g-circles(width='120', height='120')
          circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
          circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
      li.frontend_item
        svg.g-circles(width='120', height='120')
          circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
          circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
      li.frontend_item
        svg.g-circles(width='120', height='120')
          circle(r='45', cx='60', cy='60', stroke='#dfdcd5', fill='none')
          circle.sector(r='45', cx='60', cy='60', stroke='#10c1a8', transform='rotate(-90 60 60)')
