.socials
  ul.socials__list-header
    li.socials__item
      a.socials__link(href='#')
        img.socials__icon-vk(src='assets/css/sprite/vk.svg', alt='')
    li.socials__item
      a.socials__link(href='#')
        img.socials__icon-github(src='assets/css/sprite/github.svg', alt='')
    li.socials__item
      a.socials__link(href='#')
        img.socials__icon-in(src='assets/css/sprite/in.svg', alt='')